@charset "UTF-8";
html {
	height: 100%;
}

body {
	background: #9796f0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fbc7d4, #9796f0); 
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
}

/*--------Header---------*/
.wrap {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.star {
	width: 10%;
	position: absolute;
	top: 20px;
	right: 17%;
}

.header {
	margin: 0 auto;
	width: 100%;
}


@media screen and (max-width:480px) {

	.star {
		top: 40px;
		right: 10px;
	}

	.header {
		margin-top: 10%;
	}

	.header-title1 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 15vw;
		font-family: 'Roboto', sans-serif;
	}

	.header-title2 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 15vw;
		font-family: 'Roboto', sans-serif;
	}
}

@media screen and (max-width:780px) and (min-width:481px) {

	.header {
		margin-top: 10%;
	}

	.header-title1 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 15vw;
		font-family: 'Roboto', sans-serif;
	}

	.header-title2 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 15vw;
		font-family: 'Roboto', sans-serif;
	}
}

@media screen and (min-width:781px) {

	.header {
		margin-top: 5%;
	}

	.header-title1 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 8vw;
		font-family: 'Roboto', sans-serif;
	}

	.header-title2 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 8vw;
		font-family: 'Roboto', sans-serif;
	}
}


.terms {
	margin: 50px auto 0 auto;
	padding-left: 0px;
	padding-top: 60px;
	list-style-type: none;
	overflow: hidden;
}

.terms {
	width: 100%;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
}

.terms li {
	width: 30%;
	height: 10%;
	margin: 0 auto 50px auto;
	padding: 20px;
  	text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(227, 187, 218, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.menu ul li a{
	display: inline-block;
	font-size: 16px;
	line-height: 150%;
	width: 100%;
	height: 100%;
	position: relative;	
    text-decoration: none;
} 

.menu ul li a p{
	text-align: center;
	font-weight: 500;
	/*font-size: 5vh;*/
}

.t1 a {
	color: #E3BBDA;
}

.t1:hover {
  background: #FFF;
  color: #E3BBDA;
  box-shadow: inset 0 0 20px rgba(227, 187, 218, 0.5), 0 0 20px rgba(227, 187, 218, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
}

.t2 a {
	color: #C9AFE2;
}

.t2:hover {
  background: #FFF;
  color: #C9AFE2;
  box-shadow: inset 0 0 20px rgba(227, 187, 218, 0.5), 0 0 20px rgba(227, 187, 218, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
}

.t3 a {
	color: #AFA2EA;
}

.t3:hover {
  background: #FFF;
  color: #AFA2EA;
  box-shadow: inset 0 0 20px rgba(227, 187, 218, 0.5), 0 0 20px rgba(227, 187, 218, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
}

.menu {
	background-color: #FFFFFF;
	padding-bottom: 100%;
}


footer {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:480px) {
	.terms {
		font-size: 16px;
	}

	.terms li {
		display: block;
		width: 40%;
		margin: 0 auto 10% auto;
	}	

	.terms li a {
		line-height: 150%;
	}

	.terms li a p {
		font-size: 1.5em;
		margin-top: 0;
		width: 100%;
		height: 100%;
		position: relative;
		top: 30%;
	}
}

@media screen and (min-width: 481px) and (max-width: 1100px) and (min-height: 750px) {

	.header {
		margin-top: 10%;
	}

	.header-title1 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 15vw;
		font-family: 'Roboto', sans-serif;
	}

	.header-title2 {
		margin: 0 auto;
		width: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 15vw;
		font-family: 'Roboto', sans-serif;
	}

	.terms {
		font-size: 16px;
	}

	.terms li {
		display: block;
		width: 40%;
		margin: 0 auto 10% auto;
	}	

	.terms li a {
		line-height: 150%;
	}

	.terms li a p {
		font-size: 1.5em;
		margin-top: 0;
		width: 100%;
		height: 100%;
		position: relative;
		top: 30%;
	}
}

@media screen and (min-width: 481px) and (max-height: 749px) {
	.menu ul li a p{
	font-size: 1.7em;
	}
} 

.prev {
	position: relative;
	display: block;
	width: 10%;
	font-size: 1.5em;
  font-weight: 500;
  margin: 80px auto;
  padding: 0.25em 0;
  text-align: center;
  text-decoration: none;
  color: #E5BCDA;  
}

.prev:before {
	 position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top:100%;
  left: 0;
  background:#E5BCDA;
  transition: .2s;
}

.prev:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}