@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  background: #fafafa;

  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #303030;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  width: 50%;
  padding-left: 5rem;
}
header p {
  margin-right: 5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #505050;
}
#count {
  margin-left: 1rem;
  font-size: 3.5rem;
  color: #303030;
}

main {
  padding-left: 5rem;
  display: flex;
  justify-content: flex-start;
}
.p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #505050;
}

/* LEFTSIDE */
.text {
  width: 50%;
}
#input {
  height: 45%;

}
textarea {
  width:95%;
  border-radius: 1rem;
  border: 1px solid #a2a2a2;
  outline: none;
  resize: vertical;
  font-family: 'Segoe UI', sans-serif;
}

/* RIGHTSIDE */
.results {
  width: 50%;
}
#display {
  padding-right: 5rem;
}
