@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Noto+Serif+JP:wght@200&display=swap');
html {
	font-size: 62.5%;
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

/* LEFT SIDE*/
header {
	width: 40%;
	height: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav {
	width: 95%;
	height: 95%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #E2DBBE;
}
#title {
	text-decoration: none;
	font-size: 10rem;
	font-family: 'Bodoni Moda', serif;
	color: #FCFAD5;
	margin: 0;
}
nav p {
	font-size: 1.5rem;
	font-family: 'Bodoni Moda', serif;
	color: #FCFAD5;
}

/* RIGHT SIDE*/
/* BOXES */
main {
	width: /*50%*/60%;
	height: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.menu {
	width: 95%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #433F2F;
}
.wrap {
	width: 100%;
	height: 90%;
	display: flex;
}
.box {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	font-family: 'Noto Serif JP', serif;
	color: #DEDEDE;
}
.bottom {
	width:50%;
	height: 10%;
	border-top: solid 1px #DEDEDE;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* CONTENTS */
.box .chapter {
	margin: 2rem 0 0 0;
	padding-left: 2.5rem;
	font-size: 2.2rem;
	color: #DEDEDE;
}
.box p {margin: 0.5rem 0; font-size: 1.3rem; color: #BEBEBE;} /*補足コメントのp*/
ul {margin: 1rem;}
li a {
	text-decoration: none;
	font-size: 1.5rem;
	color: #DEDEDE;
}
li a:hover {color: #FFFFFF;}


.back {
	text-decoration: none;
	font-size: 2rem;
	font-family: 'Bodoni Moda', serif;
	color: #DEDEDE;
	transition: .2s;
}
.back:hover {color: #FFFFFF;}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 1rem;
	font-family: 'Noto Serif JP', serif;
	color: #BEBEBE;
}

/* RESPONSIVE */
@media screen and (max-width: 760px) {
	body {
		flex-direction: column;
		align-items: center;
	}
	/* HEADER */
	header {
		width: 100%;
		height: 30%;
		display: block;
	}
	nav {
		width: 100%;
		height: 100%;
	}
	/* MAIN */
	main {
		width: 95%;
		height: 70%;
		flex-direction: column;
		justify-content: flex-start;
	}
	.menu {
		margin-top: 3%;
		width: 100%;
		height: 95%;
		font-size: 1.5rem;
	}
	.wrap {
		flex-direction: column;
	}
	.box {width: 100%;}
	ul {padding-left: 2rem;}
	.bottom {height: 20%;}
	.menu p {font-size: 1.3rem;} .back {font-size: 1.8rem;}
	footer {height: 2%; writing-mode: horizontal-tb; text-align: center; font-size: 0.8rem;}
}
